<!-- About Section -->
<div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About Berlin</h3>
    <hr>
    <p>Berlinis the capital and largest city of Germany by both area and population.Its 3,748,148 inhabitants
        make it the second most
        populous city proper of the European Union after London. <br>The city is one of Germany's 16 federal
        states.
        It is surrounded by the
        state of Brandenburg, and contiguous with its capital, Potsdam.<br> The two cities are at the center of
        the
        Berlin-Brandenburg capital
        region, which is, with about six million inhabitants and an area of more than 30,000 km², Germany's
        third-largest metropolitan
        region after the Rhine-Ruhr and Rhine-Main regions.
    </p>
    <hr>
    <img ng-style={{imgStyle}} ng-src='app/views/resources/background1.jpg'>
    <hr>
    <img ng-style={{imgStyle}} ng-src='app/views/resources/background3.jpg'>

</div>